//color
$mauve: #7e76f9;
$darkBlack: #484848;
$lightBlack: #42495b;
$lightGrey: #7a839e;
$brokeWhite: #f6f7fb;
$white: white;
$blueGrad: linear-gradient(to left, #5348e7, #1a129f);
$blue: #1000ff;

//Typo
$Btitre: 74px;
$titre: 50px;
$nav: 25px;
$sous-titre: 20px;
$sous-titre-card: 18px;
$labeur: 16px;
$labeur-card: 15px;
$Sbutton: 12px; //small button
$Bbutton: 16px; //bigButton

//Police weight
$light: 300;
$regular: 400;
$medium: 500;
$s-bold: 600;
$bold: 700;
$e-bold: 800;

//Police familly
$poppins: 'Poppins',sans-serif;
$lobster: 'Lobster Two',cursive;
$lato: 'Lato',sans-serif;

//media queries
$laptop: 1024px;
$header: 1135px;
$page4: 1215px;
$page2 : 1440px;

//width-height margin padding
//min max
$max-with : 100vw;
$zero : 0;
//percent
$cinq-percent : 5%;
$fifteen-percent : 15%;
$twenty-percent : 20%;
$demi-percent: 50%;
$max-percent : 100%;

$one: 1%;
$two: 2%;
$ten : 10%;
$twenty: 20px;
$twenty-one : 21px;
$twenty-five: 25px;
$fourty: 40px; 
$fifty: 50px;